@font-face {
  font-family: 'fuzzy';
  src: url('FuzzyBubbles-Bold.ttf');
}

:root {
  --pawn-height: 136px;
}

body {
  background-color: #FFFFFF;
  margin: 0;
  font-family: fuzzy;
}

.popup {
  position: absolute;
  z-index: 999;
  display: none;
  background-color: rgba( 166, 166, 166, 166 );
  width: 100%;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

.popup > div {
  width: 600px;
}

.popup .close {

}

.page {
  display: flex;
}

.left-side {
  background-image: url("./board-left-586.jpeg");
  background-repeat: repeat-x;
}

.right-side {
  background-image: url("./board-right-586.jpeg");
  background-repeat: repeat-x;
}

.left-side, .right-side {
  flex: 1;
}

button {
  padding: 15px;
  border-radius: 30px;
  width: 160px;
  font-family: fuzzy;
  background-color: green;
  color: white;
  border: 1px solid rgb(0, 139, 0);

  -webkit-box-shadow: 0px 6px 11px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 6px 11px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 6px 11px 0px rgba(66, 68, 90, 1);
}

.option > input {
  height: 30px;
  width: 60px;
  height: 40px;
  text-align: right;
  font-family: fuzzy;
  font-size: 18px;
  box-sizing: border-box;
  border: 2px solid green;
  padding-right: 10px;
  padding-top: 2px;
  border-radius: 6px;
}

#gameEasy, #gameHard {
  cursor: pointer;

}

#gameEasy {
  text-decoration: underline;
}

button#changeLevel {
  width: 60px;
  margin-left: 10px;
}

.logo, .option {
  display: block;
  text-align: center;
  margin: 30px;
}

.logo {
  color: white;
  font-size: 32px;
  text-shadow: 2px 2px black;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.board {
  width: 640px;
  background-image: url("./board-640x586.jpeg");

  display: grid;
  grid-template-columns: 56px repeat(4, 1fr) 18px;
  grid-template-rows: 20px repeat(4, var(--pawn-height)) 20px;
  grid-row-start: 1;
  grid-row-end: 6;
}

.board div {
  /* border: 1px solid red; */
}

.pawn {
}

.position {
  width: 42px;
  height: 24px;
  position: relative;
  top: -28px;
  border-radius: 8px;
  border: 2px solid green;
  background-color: lightgrey;
  text-align: center;
  font-size: 22px;
}

.outcome {
  border-top: 1px solid grey;
  display: flex;
}

#theResult {
  display: flex;
  margin-top: 50px;
}

#youWon, #youLose {
  display: none;
}

.solution {
  margin-top: 6px;
  padding: 10px 120px;
  overflow: visible;
  width: 100%;
  height: var(--pawn-height);

  display: flex;
}

.solution > div {
  margin-left: -80px;
}
